body{
	font-family: 'Century Gothic','Microsoft YaHei',Verdana;
	width:100%;
	height:100%;
	margin:0;
}

span,a,li,font,p,h1,h2,h3,h4,h5,h6,button,input,div,pre,code{
	font-family: 'Century Gothic','Microsoft YaHei',Verdana;
}
a{
    color: rgb(104,37,144);
    text-decoration:none; 
}


.headbar{
	background-color:rgba(239,235,247,0.3);
	height:50px;
	width:100%;
	color: rgb(104,37,144);
	position:fixed;
	transition:background-color 1s;
	box-shadow:0 15px 30px rgba(0, 0, 0, 0.1);
	z-index:999;
}

.headbar:hover{
	background-color:rgba(239,235,247,0.8);
	height:50px;
	width:100%;
	color: rgb(104,37,144);
}
.headitem li{
	float:left; /* 横向排列 */
	list-style: none;
	line-height:3;
	height:50px;
	padding:0 20px 0 20px;
	transition: background 0.5s,font-size 1s,line-height 1s,width 1s;
	text-shadow: 0 0 5px #fff;
}

.headitem li:hover{
	background: rgb(212,212,236);
    font-size:1.3em;
    line-height:2.3;
}

.searchitem{
	width:20px;
	overflow: hidden;
}
.searchitem:hover{
	width:160px;
}
.searchbox{
	height:22px;
	width:80%;
}
.rollbg{
	width:100%;
	height:100%;
	position:fixed;/*老子不动*/
	background-image:url(../img/bg2.jpg);
	background-size: cover;
	z-index:-1;/*底层*/ 
}
.mainbody{
	padding:50px auto;
}

.bloginfo{
	margin-top:150px;
	background-color:rgba(239,235,247,0.7);
	padding:15px;
	color: rgb(104,37,144);
	text-align: center;
	border: 1px solid #e0e0e0;
	box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}
.bloglogo{
	display: table;
    margin: -70px auto 0;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 50%;
}
.bloglogo img{
	border-radius: 50%;
}

.article-info{
    background-color:rgba(239,235,247,0.7);
    border-top-right-radius:10px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
	float:left;
	text-shadow: 0 0 1px gray;
	color: rgb(104,37,144);
	padding:10px;
	margin:0;
}
.article-item{
	background-color:rgba(239,235,247,0.7);
    border: 1px solid #e0e0e0;
    float:left;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    height:240px;
    width:100%;
}
.article-content{
    padding:20px;
}
.article-content h2{
    margin:0;
}
.article-bar{
    background-color:rgba(0,0,0,0.3);
    float:left;
    width:100%;
}
.article-action{
    color:white;
    text-shadow: 0 0 1px gray;
    float:right;
    padding: 10px;
    margin: 0;
}
.links a{
	margin:10px;
	color: rgb(104,37,144);
}
.sidebar{
    float:right;
    margin-top:30px;
}
.widget{
    background-color:rgba(239,235,247,0.7);
    border: 1px solid #e0e0e0;
    margin-bottom:20px;
    padding:20px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}
.widget-list{
    list-style:none;
    padding:0;
}
.widget-list li{
    padding: 10px 0 10px;
    border-bottom: 1.5px dashed rgb(104,37,144);
}
.line{
	width:0px;
	height:300px;
    border: 2px dashed #ff7600;
    border-radius:10px;
    margin:0 0 0 50px;
}
.useravatar{
	border: 1px solid #e0e0e0;
    border-radius: 50%;
    width:60px;
    height:60px;
    float:left;
    margin:-10px 0 0 -30px;
}
.useravatar img{
    border-radius: 50%;
}
.article-list{
	height:310px;
}
.hide{
	display:none;
}
.actionbutton{
    padding:0 10px 0 10px;
    color:white;
    float:right;
    line-height:2.6;
    transition:background-color 0.5s;
}
.actionbutton a{
    color:white;
}
.actionbutton:hover{
    background-color:rgba(0,0,0,0.5);
}
.blogroll {
    width: auto;
    display: block;
    overflow: auto;
    margin-left: 5px;
}

.blogroll{
    list-style: none;
    margin: 0;
    padding: 0;
}
.blogroll li{
    float: left;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: rgb(104,37,144);
    text-align:center;
    padding:10px;
    border-bottom: 1.5px dashed rgb(104,37,144);
    transition:background-color 0.5s;
}
.blogroll li:hover{
    background-color:rgba(239,235,247,0.9);
}

.blogroll .bottom{
    border-bottom:none;
}
.article-preview{
    background-size:cover;
    height:170px;
    padding: 3px;
    border: 1.5px solid #e5e5e5;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s;
    margin:30px 0 0 -20px;
}
.article-preview:hover{
    transform:scale(1.1,1.1);
}
.widget-title{
        font-size: 14px;
    color: #fff;
    line-height: 30px;
    display: inline-block;
    padding: 0 0.8em;
    margin: 1em 0 0.5em;
    border-radius: 0 4px 4px 0;
    font-weight: normal;
    background: #6fc5db;
    margin:-10px 0 0 -21px;
}
.btn {
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.12), 1px 1px 0 rgba(255, 255, 255, 0.2) inset;
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.12), 1px 1px 0 rgba(255, 255, 255, 0.2) inset;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.12), 1px 1px 0 rgba(255, 255, 255, 0.2) inset;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.btn-primary {
    color: rgb(104,37,144);
    background-color: rgba(253,245,249,0.8);
    border-color: rgb(253,245,249);
}
.btn-primary:hover {
    color: rgb(104,37,144);
    background-color: rgba(212,212,236,0.8);
    border-color: rgb(212,212,236);
    transition: background-color 0.3s;
}
.nextpage{
    margin-bottom:50px;
}
.article-title{
    color: rgb(104,37,144);
    text-align:center;
    padding:20px;
    border-bottom:1.5px solid rgba(0,0,0,0.3);
}
.article-title h2{
    margin:10px;
}

.footbar{
    color: rgb(104,37,144);
    background-color:rgba(239,235,247,0.7);
    width:100%;
    bottom:0px;
    text-align:center;
    height:100%;
}
.footbar-content{
    padding:8px;
}
.footbar-content p{
    font-size:0.9em;
}
.pagenavs{
    height:80px;
    padding:10px;
}
.next{
    box-shadow: rgba(0, 0, 0, 0.0980392) 2px 3px 5px;
    background: rgba(255, 255, 255, 0.4);
    padding:10px 20px 10px 20px;
    float:right;
    width:30%;
    text-align:center;
    transition:background-color 0.5s;
}
.prev{
    box-shadow: rgba(0, 0, 0, 0.0980392) 2px 3px 5px;
    background: rgba(255, 255, 255, 0.4);
    padding:10px 20px 10px 20px;
    float:left;
    width:30%;
    text-align:center;
    transition:background-color 0.5s;
}
.prev:hover{
    background: rgba(255, 255, 255, 0.6);
}
.next:hover{
    background: rgba(255, 255, 255, 0.6);
}
@media(max-width:768px) {
	#blogtitle {
		display: none;
	}
	.searchitem{
	    display:none;
	}
}
@media(max-width:992px) {
	
	.bloginfo{
	    width:100%;
	}
	.sidebar{
	    display:none;
	}
	.article-preview{
	    display:none;
	}
	.row {
    margin-right: 0px;
    margin-left: 0px;
    }
    .article-list{
        margin-top:60px;
        height:auto;
    }
    .article-item{
        height:auto;
    }
}
@media(max-width:1200px) {
    .timeline{
	    display:none;
	}
	.article-list{
	    width: 100%;
	}
    .actionbutton{
        display:none;
    }
    .article-bar {
    background-color: rgba(0,0,0,0);
    }
    .nextpage{
        width:100%;
    }
}